#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: grid;
}

.Image{
  grid-column: 1;
  grid-row: 1;
}

.TextArea{
  grid-column: 1;
  grid-row: 2;
  margin-top: 20px;
  font-size: 32px;
}

.Button{
  grid-column: 1;
  grid-row: 3;
  margin-top: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
